{% extends "home.html" %}
{% block content %}
<form method="POST">
  <div class="form-group">
    <label for="appt_year">Year:</label>
    <select class="form-control" id="appt_year" name="appt_year">
    {% for i in range(2020, 2024) %}
    <option>{{i}}</option>
   {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="appt_month">Month:</label>
    <select class="form-control" id="appt_month" name="appt_month">
    {% for i in range(1, 13) %}
    <option>{{i}}</option>
   {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="appt_day">Day:</label>
    <select class="form-control" id="appt_day" name="appt_day">
    {% for i in range(1, 32) %}
    <option>{{i}}</option>
   {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="appt_time">Appointment Time</label>
    <select class="form-control" id="appt_time" name="appt_time">
    {% for i in range(8, 18) %}
    {% for j in range(0, 4, 3) %}
    <option>{{i|string + ":" +j|string+"0"}}</option>
    {% endfor %}
    {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="exam_room">Exam Room</label>
    <select type="text" class="form-control" id="exam_room" placeholder="" name="exam_room">
    {% for i in range(1, 6) %}
    <option>{{i}}</option>
   {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="pet">Pet ID</label>
    <select type="text" class="form-control" id="pet" placeholder="" name="pet">
    {% for p in pets %}
    <option>{{p[0]}}</option>
    {% endfor %}
     </select>
  </div>
  <div class="form-group">
    <label for="vet">Vet</label>
    <select type="text" class="form-control" id="vet" placeholder="" name="vet">
     {% for v in vets %}
     <option>{{v[0]}}</option>
     {% endfor %}
      </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock content %}
