{% extends "home.html" %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Appointment ID</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Exam Room</th>
      <th scope="col">Pet ID</th>
      <th scope="col">Vet ID</th>
    </tr>
  </thead>
  <tbody>
  {% for row in data %}
    <tr>
      <th scope="row">{{row[0]}}</th>
      {% for ind in range(1, row|length) %}
      <td>{{row[ind]}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
