{% extends "home.html" %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">VID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Liscense Number</th>
    </tr>
  </thead>
  <tbody>
  {% for row in data %}
    <tr>
      <th scope="row">{{row[0]}}</th>
      {% for ind in range(1, row|length) %}
      <td>{{row[ind]}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
