{% extends "home.html" %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">PID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Weight</th>
      <th scope="col">Age</th>
      <th scope="col">Species</th>
      <th scope="col">Breed</th>
    </tr>
  </thead>
  <tbody>
  {% for row in data %}
    <tr>
      <th scope="row">{{row[0]}}</th>
      {% for ind in range(1, row|length) %}
      <td>{{row[ind]}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
